.terminal-auto {
  width: 30%;
  top: 49%;
  height: 35%;
  left: 20px;
  position: absolute;
  background: black;
  color: rgb(0, 255, 0);
  resize: none;
  outline: none;
  border: 1px solid rgb(0, 255, 0);
  padding: 10px;
  border-top: 20px solid rgb(0, 255, 0);
  cursor: auto;
}

.terminal-auto::-webkit-scrollbar {
  display: none;
}
