.privateData {
  background: black;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 60%;
  border: 1px solid #053972;
}

.privateDataBorder {
  border-top: 20px solid #053972;
}

.privateDataList {
  padding: 10px;
}

.icon {
  width: 30px;
  margin-right: 15px;
}

@media only screen and (max-width: 975px) {
  .privateData{
    margin-top: 10px;
    width: 100%;
    left: 0;
    position: relative;
    order: 2;
  }

  .privateDataList{
    display: flex;
  justify-content: space-around;
  }
}