.globe {
  width: 10%;
  position: absolute;
  top: 45%;
  left: 45%;
}

.ilyahacker {
  width: 30%;
  background: #053972;
  position: absolute;
  left: 45%;
  top: 20px;
  border: 1px solid #053972;
  border-top: 20px solid #053972;
}

@media only screen and (max-width: 975px) {
  .app {
    display: flex;
    flex-direction: column;
    padding: 2px;
  }
  .globe {
    display: none;
  }

  .ilyahacker {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    order: 1;
  }
}
