.projects-wrapper {
  width: 25%;
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-right: 10px;
  right: 0;
}

.projects-border-top {
  height: 20px;
  background: white;
}

.projects {
  background: #063b71;
  border: 1px solid white;
  color: #f8d412;
  font-size: 30px;
  font-weight: 900;
}

.projects-text {
  text-align: center;
  border-bottom: 2px solid #f8d412;
  padding: 10px;
  color: #f8d412;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
}

.project {
  width: 49.4%;
  height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: #f8d412;
  border: 1px #f8d412 solid;
}

.project:hover {
  background: #f8d412;
  color: #063b71;
  cursor: pointer;
}
