.private-data {
  background: #063b71;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 60%;
  border: 1px solid white;
}

.private-data-border {
  border-top: 20px solid white;
}

.private-data-list {
  padding: 10px;
}
.icon {
  width: 40px;
  margin-right: 10px;
}
