.private-data {
  background: #063b71;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 60%;
  border: 1px solid white;
}

.private-data-border {
  border-top: 20px solid white;
}

.private-data-list {
  padding: 10px;
}
.icon {
  width: 30px;
  margin-right: 15px;
}

@media only screen and (max-width: 975px) {
  .private-data-border {
    border-top: 10px solid white;
  }
  .private-data {
    top: 60%;
  }
  .icon {
    width: 20px;
  }
}
