.app-transform {
  display: flex;
  flex-direction: column;
  padding: 2px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  background: rgb(0, 255, 0);
  display: flex;
  align-items: center;
}

.github-link,
.play-song,
.skip {
  height: 70%;
  border-radius: 2px;
  margin-left: 5px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  width: 70px;
  text-decoration: none;
  border: 1px solid black;
  color: black;
  transition: 0.2s all ease;
}

.globe {
  width: 10%;
  position: absolute;
  top: 45%;
  left: 45%;
}

.ilyahacker {
  background: #053972;
  position: absolute;
  width: 100%;
  border: 1px solid #053972;
  border-top: 20px solid #053972;
}

.ilyahacker-transform {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}
